/* Start of script */
body {
	margin: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 16%;
	background-color: #444444;
	position: fixed;
	height: 100%;
	overflow: auto;
}
li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}
li a.active {
	background-color: #4CAF50;
	color: cyan;
}
li a:hover:not(.active) {
	background-color: #555;
	color: cyan;
}
a {
	color: lime;
}
p {
	color: cyan;
}
h1 {
	color: yellow;
}
h2 {
	color: yellow;
}
h3 {
	color: yellow;
}
h4 {
	color: yellow;
}
h5 {
	color: yellow;
}
h6 {
	color: yellow;
}
details {
	color: yellow;
}
/* End of script */